.conteiner {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.fotoAmigo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.infoAmigo h4 {
  margin: 0;
  font-size: 16px;
}

.infoAmigo p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}
