.cabecalho {
  height: 15vh;
  margin: 0px 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--shuttle-grey);
  font-family: var(--roboto);
}

.companyName {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--honda-red);
}

.menuHamburguer {
  display: block;
  font-size: 2.8rem;
  cursor: pointer;
  color: var(--ebony);
}

.menu ul {
  display: none;
}

.itemLista {
  margin-right: 20px;
}

.link {
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black-russian);
}

.link:hover {
  color: var(--honda-red);
  text-decoration: overline;
}

@media (min-width: 768px) {
  .menu ul {
    display: flex;
    justify-content: flex-start;
  }

  .menuHamburguer {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .menuHamburguer,
  .companyName,
  .link {
    background-color: var(--ebony);
    color: var(--white);
  }
}
